<div [ngClass]="containerClasses">
  <!-- Label -->
  <label *ngIf="label" [for]="'input-' + label" [ngClass]="labelClasses">
    {{ label }}
  </label>

  <!-- Input -->
  <input
    [type]="type"
    [id]="'input-' + label"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [ngClass]="inputClasses"
    [ngModel]="value"
    (ngModelChange)="onInputChange($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />

  <!-- Helper Text or Error Message -->
  <div *ngIf="helperText || errorMessage" [ngClass]="helperTextClasses">
    {{ errorMessage || helperText }}
  </div>
</div>
