<div [ngClass]="modalClasses">
  <!-- backdrop -->
  <div [ngClass]="backdropClasses" (click)="onBackdropClick($event)"></div>

  <!-- content -->
  <div [ngClass]="contentClasses" (click)="stopPropagation($event)" class="relative">

    <!-- title -->
    <div class="px-4 py-3 flex justify-between items-center">
      <div class="font-medium">
        <ng-content select="[modalTitle]"></ng-content>
      </div>
      <app-button (clicked)="close()" [icon]="icons['material-symbols-light--close-rounded']"></app-button>
    </div>

    <app-devider variant="auto"></app-devider>

    <!-- body -->
    <div class="px-4 py-3">
      <ng-content></ng-content>
    </div>

    <!-- footer -->
    <div class="px-4 pb-3 flex justify-end">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
  </div>
</div>
