<div class="w-full h-screen flex flex-col bg-white dark:bg-zinc-800 text-black dark:text-neutral-100 overflow-hidden">
  <div class="flex items-center justify-between px-5 py-3" data-tauri-drag-region>
    <h1 class="uppercase text-2xl">Tasks</h1>
    <div class="flex space-x-2">
      <app-button
        (clicked)="toggleDarkMode()"
        [icon]="isDarkMode ? icons['fluent--weather-sunny-24-regular'] : icons['fluent--dark-theme-24-filled']">
      </app-button>
      <app-button
        (clicked)="createNewTask()"
        [icon]="icons['material-symbols-light--add']">
      </app-button>
    </div>
    <div class="flex space-x-2">
      <app-button
        (clicked)="minimizeWindow()"
        [icon]="icons['material-symbols-light--minimize-rounded']">
      </app-button>
      <app-button
        (clicked)="maximizeWindow()"
        [icon]="icons['material-symbols-light--square-outline-rounded']">
      </app-button>
      <app-button
        (clicked)="closeWindow()"
        [icon]="icons['material-symbols-light--close-rounded']">
      </app-button>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 flex-grow w-full px-4 pb-4 overflow-hidden" cdkDropListGroup>
    <div [ngClass]="getColumnClass()">
      <app-section-header [title]="'Todo'" [count]="todos.length"></app-section-header>
      <div (cdkDropListDropped)="drop($event)"
           [cdkDropListData]="todos"
           cdkDropList
           class="flex-grow px-4"
           id="todo-list">
        <app-task-card *ngFor="let task of todos" [task]="task" cdkDrag></app-task-card>
      </div>
    </div>
    <div [ngClass]="getColumnClass()">
      <app-section-header [title]="'Progress'" [count]="progress.length"></app-section-header>
      <div (cdkDropListDropped)="drop($event)"
           [cdkDropListData]="progress"
           cdkDropList
           class="flex-grow px-4"
           id="progress-list">
        <app-task-card *ngFor="let task of progress" [task]="task" cdkDrag></app-task-card>
      </div>
    </div>
    <div [ngClass]="getColumnClass()">
      <app-section-header [title]="'Done'" [count]="done.length"></app-section-header>
      <div (cdkDropListDropped)="drop($event)"
           [cdkDropListData]="done"
           cdkDropList
           class="flex-grow px-4"
           id="done-list">
        <app-task-card *ngFor="let task of done" [task]="task" cdkDrag></app-task-card>
      </div>
    </div>
  </div>

  <!--  new task-->
  <app-modal (closed)="closeModal()" [isOpen]="isModalOpen">
    <div modalTitle>Create New Task</div>

    <div class="space-y-4">

      <app-text-input
        [(ngModel)]="taskName"
        [required]="true"
        label="Title">
      </app-text-input>

      <div class="flex flex-col gap-2">
        <label for="taskPriority" class="text-sm">Priority</label>
        <app-dropdown
          id="taskPriority"
          [options]="priorityOptions"
          [selectedValue]="taskPriority"
          (selectionChange)="onPriorityChange($event)"
        ></app-dropdown>
      </div>

      <div class="flex flex-col gap-2">
        <label for="taskDueDate" class="text-sm">Due Date</label>
        <app-date-picker
          id="taskDueDate"
          [date]="taskDueDate"
          (dateChange)="onDueDateChange($event)"
        ></app-date-picker>
      </div>

      <div class="flex flex-col gap-2">
        <label for="description" class="text-sm">Description</label>
        <app-monaco-editor
          [content]="taskContent"
          (contentChange)="taskContent = $event"
        ></app-monaco-editor>
      </div>

    </div>

    <div class="flex space-x-2" modalFooter>
      <app-button (clicked)="closeModal()" [rounded]="false" variant="transparent">
        <span class="px-2">Cancel</span>
      </app-button>
      <app-button (clicked)="saveTask()" [rounded]="false" variant="secondary">
        <span class="px-2">Save</span>
      </app-button>
    </div>
  </app-modal>
</div>
